[Desktop Entry]
Type=Application
Name=FastQt
Comment=A quality control tool for high throughput genomics sequence data. 
Exec=fastqt %F
Icon=fastqt
Terminal=false
Categories=Science;Biology;Qt;
